node_modules
deployments/development/.data
deployments/test/mysql/.data
deployments/test/mysql/initdb
/yarn.lock
/package-lock.json
/specs/*.json
yarn-error.log
.env
.DS_Store
.env.json
firestore-debug.log
openapi.json
firebase-debug.log
.playground
yarn.lock
/specs/yarn.lock
app/package-lock.json
